NodeRED-Flow/1905100101_SampleFlow_1.txt
[{"id":"b43e2d87.826c7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8d4fe7a3.e4b75","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"11bdf91a.297697","type":"mqtt-broker","z":"b43e2d87.826c7","name":"test","broker":"172.22.0.242","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a0b3c6d2.31c73","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7b29b046.71d0b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"804f075.28b4f78","type":"ui_group","z":"","name":"Default","tab":"7b29b046.71d0b","disp":true,"width":"6","collapse":false},{"id":"dc5a966c.235c68","type":"mqtt-broker","z":"","name":"RasPiBroker","broker":"192.168.4.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8234b7e1.fd9d","type":"ui_group","z":"","name":"Default2","tab":"7b29b046.71d0b","disp":true,"width":"6","collapse":false},{"id":"aa4174d4.b60c08","type":"inject","z":"b43e2d87.826c7","name":"","topic":"red","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["82134234.4d06e"]]},{"id":"975d6f5.f84d29","type":"debug","z":"b43e2d87.826c7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":40,"wires":[]},{"id":"f435b28f.c1095","type":"mqtt out","z":"b43e2d87.826c7","name":"","topic":"/topic/itemRx","qos":"2","retain":"true","broker":"dc5a966c.235c68","x":730,"y":160,"wires":[]},{"id":"aca35af9.44f07","type":"mqtt in","z":"b43e2d87.826c7","name":"","topic":"/topic/itemTx","qos":"2","datatype":"auto","broker":"dc5a966c.235c68","x":130,"y":640,"wires":[["a4bf8532.abdeb","1feb7954.fea38f"]]},{"id":"99dea01d.855a48","type":"debug","z":"b43e2d87.826c7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":620,"wires":[]},{"id":"a4bf8532.abdeb","type":"function","z":"b43e2d87.826c7","name":"ID123","func":"/*\n  Convert a CAN message to 0..8 Bytes if ID match\n  CAN-ID DLC B0 B1 B2 B3 B4 B5 B6 B7\n*/\nvar ID = 123;\n\nvar outputMsgB0 = [];\nvar outputMsgB1 = [];\nvar outputMsgB2 = [];\nvar outputMsgB3 = [];\nvar outputMsgB4 = [];\nvar outputMsgB5 = [];\nvar outputMsgB6 = [];\nvar outputMsgB7 = [];\nvar words = msg.payload.split(\" \");\n\nfor (var w in words) {\n  words[w] = Number(words[w]);\n}\n\noutputMsgB0.push({payload:words[2]});\noutputMsgB1.push({payload:words[3]});\noutputMsgB2.push({payload:words[4]});\noutputMsgB3.push({payload:words[5]});\noutputMsgB4.push({payload:words[6]});\noutputMsgB5.push({payload:words[7]});\noutputMsgB6.push({payload:words[8]});\noutputMsgB7.push({payload:words[9]});\n\nif ( words[0] == ID )\n{\n  if ( words[1] == 1 ) \n    return [outputMsgB0 ];\n  if ( words[1] == 2 ) \n    return [outputMsgB0, outputMsgB1 ];\n  if ( words[1] == 3 ) \n    return [outputMsgB0, outputMsgB1, outputMsgB2 ];\n  if ( words[1] == 4 ) \n    return [outputMsgB0, outputMsgB1, outputMsgB2, outputMsgB3 ];\n  if ( words[1] == 5 ) \n    return [outputMsgB0, outputMsgB1, outputMsgB2, outputMsgB3, outputMsgB4 ];\n  if ( words[1] == 6 ) \n    return [outputMsgB0, outputMsgB1, outputMsgB2, outputMsgB3, outputMsgB4, outputMsgB5 ];\n  if ( words[1] == 7 ) \n    return [outputMsgB0, outputMsgB1, outputMsgB2, outputMsgB3, outputMsgB4, outputMsgB5, outputMsgB6 ];\n  if ( words[1] == 8 ) \n    return [outputMsgB0, outputMsgB1, outputMsgB2, outputMsgB3, outputMsgB4, outputMsgB5, outputMsgB6, outputMsgB7 ];\n}\n","outputs":8,"noerr":0,"x":260,"y":680,"wires":[["99dea01d.855a48"],["e1d9a88d.808ae8"],["c15933bd.b5f278"],["18f575bf.9631da"],[],[],[],[]]},{"id":"82134234.4d06e","type":"trigger","z":"b43e2d87.826c7","op1":"7FD 8 4 0 0 0 ff 0 7 7","op2":"","op1type":"str","op2type":"nul","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":380,"y":40,"wires":[["f435b28f.c1095","975d6f5.f84d29"]]},{"id":"1feb7954.fea38f","type":"debug","z":"b43e2d87.826c7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":840,"wires":[]},{"id":"e1d9a88d.808ae8","type":"debug","z":"b43e2d87.826c7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":660,"wires":[]},{"id":"c15933bd.b5f278","type":"debug","z":"b43e2d87.826c7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":700,"wires":[]},{"id":"18f575bf.9631da","type":"debug","z":"b43e2d87.826c7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":740,"wires":[]},{"id":"8e9640c5.6b7568","type":"ui_slider","z":"b43e2d87.826c7","name":"","label":"Höhe","tooltip":"","group":"804f075.28b4f78","order":0,"width":"1","height":"6","passthru":true,"outs":"all","topic":"","min":0,"max":"1000","step":"10","x":210,"y":340,"wires":[["51d86211.e459a4","b5973c59.c8918","e7fc2f79.71f78"]]},{"id":"51d86211.e459a4","type":"function","z":"b43e2d87.826c7","name":"DMA 1","func":"/*\n  Convert a value to CAN message for DMA-15\n  CAN-ID DLC B0 B1 B2 B3 B4 B5 B6 B7\n  7FD    8   1  7  A  0  0  0  7  7\n*/\n\nvar val = parseInt(msg.payload);\nvar outputMsg = [];\nvar hi;\nvar lo;\nvar out;\n\nhi = Math.floor(val / 256);\nlo = val - hi * 256;\nout = \"7FD 8 1 7 \"+ lo.toString(16) + \" \" + hi.toString(16) +\" 0  0  7  7\";\noutputMsg.push({payload:out});\nreturn [outputMsg];","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["915110ea.f0647","99f12f.b44466d"]]},{"id":"7722edca.d3371c","type":"inject","z":"b43e2d87.826c7","name":"","topic":"","payload":"1000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["51d86211.e459a4"]]},{"id":"915110ea.f0647","type":"debug","z":"b43e2d87.826c7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":280,"wires":[]},{"id":"99f12f.b44466d","type":"mqtt out","z":"b43e2d87.826c7","name":"","topic":"/topic/itemRx","qos":"2","retain":"true","broker":"dc5a966c.235c68","x":730,"y":340,"wires":[]},{"id":"75be7a2.b58ea84","type":"inject","z":"b43e2d87.826c7","name":"","topic":"blue","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["9efbd41b.6a6d38"]]},{"id":"9efbd41b.6a6d38","type":"trigger","z":"b43e2d87.826c7","op1":"7FD 8 4 0 ff 0 0 0 7 7","op2":"","op1type":"str","op2type":"nul","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":380,"y":160,"wires":[["975d6f5.f84d29","f435b28f.c1095"]]},{"id":"9e28b376.373aa8","type":"inject","z":"b43e2d87.826c7","name":"","topic":"green","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["d4fefcfd.f64d88"]]},{"id":"d4fefcfd.f64d88","type":"trigger","z":"b43e2d87.826c7","op1":"7FD 8 4 0 0 ff 0 0 7 7","op2":"","op1type":"str","op2type":"nul","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":380,"y":100,"wires":[["975d6f5.f84d29","f435b28f.c1095"]]},{"id":"b5973c59.c8918","type":"ui_gauge","z":"b43e2d87.826c7","name":"","group":"8234b7e1.fd9d","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":440,"wires":[]},{"id":"e7fc2f79.71f78","type":"ui_chart","z":"b43e2d87.826c7","name":"","group":"8234b7e1.fd9d","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":500,"wires":[[]]},{"id":"f33df18e.56dec","type":"inject","z":"8d4fe7a3.e4b75","name":"","topic":"1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["ba1727ee.e32d38"]]},{"id":"53d6edb5.bf6ec4","type":"debug","z":"8d4fe7a3.e4b75","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":60,"wires":[]},{"id":"ba1727ee.e32d38","type":"trigger","z":"8d4fe7a3.e4b75","op1":"100 1 01","op2":"","op1type":"str","op2type":"nul","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":340,"y":60,"wires":[["53d6edb5.bf6ec4","78b965b9.7f8d6c"]]},{"id":"10d7d2a.6cd2cad","type":"inject","z":"8d4fe7a3.e4b75","name":"","topic":"2","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["53204334.003f74"]]},{"id":"53204334.003f74","type":"trigger","z":"8d4fe7a3.e4b75","op1":"100 1 02","op2":"","op1type":"str","op2type":"nul","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":340,"y":120,"wires":[["53d6edb5.bf6ec4","78b965b9.7f8d6c"]]},{"id":"78b965b9.7f8d6c","type":"mqtt out","z":"8d4fe7a3.e4b75","name":"RasPi","topic":"/topic/itemRx","qos":"2","retain":"true","broker":"dc5a966c.235c68","x":530,"y":120,"wires":[]},{"id":"4aa81d64.1b343c","type":"mqtt in","z":"8d4fe7a3.e4b75","name":"","topic":"/topic/itemTx","qos":"2","broker":"dc5a966c.235c68","x":110,"y":180,"wires":[["b04eb876.c71b88","92fae6cd.d56a3"]]},{"id":"b04eb876.c71b88","type":"debug","z":"8d4fe7a3.e4b75","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":180,"wires":[]},{"id":"45ee9a11.675db4","type":"ui_button","z":"8d4fe7a3.e4b75","name":"","group":"804f075.28b4f78","order":3,"width":0,"height":0,"passthru":false,"label":"button 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":120,"y":240,"wires":[["ba1727ee.e32d38"]]},{"id":"41516b4f.20f734","type":"ui_button","z":"8d4fe7a3.e4b75","name":"","group":"804f075.28b4f78","order":4,"width":0,"height":0,"passthru":false,"label":"button 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":120,"y":300,"wires":[["53204334.003f74"]]},{"id":"92fae6cd.d56a3","type":"ui_text","z":"8d4fe7a3.e4b75","group":"804f075.28b4f78","order":5,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":240,"wires":[]},{"id":"58b68a89.5b627c","type":"comment","z":"b43e2d87.826c7","name":"Setup GT-800","info":"Setup GT-800 before use:\nsend over CAN: 0x7FD\nsend over MQTT: 0x7FC","x":130,"y":420,"wires":[]}]
